'atom-text-editor:not([mini])':
  'ctrl-shift-K': 'window:focus-pane-above'

'.platform-linux atom-text-editor':
  'ctrl-shift-L': 'window:focus-pane-on-right'

'.platform-win32 atom-text-editor':
  'ctrl-shift-L': 'window:focus-pane-on-right'

'atom-text-editor':
  'ctrl-shift-K': 'window:focus-pane-above'
  'ctrl-shift-J': 'window:focus-pane-below'
  'ctrl-shift-H': 'window:focus-pane-on-left'
  'ctrl-shift-L': 'window:focus-pane-on-right'

'atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-f': 'find-and-replace:show'
  ';': 'ex-mode:open'

'body .native-key-bindings':
  'ctrl-f': 'find-and-replace:show'
